@import url("assets/fonts/fonts.css");


$fsize16: 16px;

$black: #000000;
$white: #ffffff;
$orange: #F9804B;
$yellow: #FFEE2E;
$grey: #333B41;
$grey2: #F1F3F2;
$green: #4B9200;
$orangehover: #E47209;


body{
    font-family: 'Roboto';
    margin: 0 auto;
}

header{
    height: 80px;
    background-color: $black;
    z-index: 5;
    @media (max-width: 999px) {
        height: 34px;
        width: 100vw;
        position: fixed;
    }
}

.header__popup{
    position: absolute;
    transition: 0.5s;
    top: 34px;
    height: 329px;
    width: 640px;
    background-color: #ffffff;
    z-index: 5;
    left: -100%;
    @media (max-width: 639px) {
        width: 320px;
        height: 329px;
    }
    & #menu{
        padding-left: 10px;
    }
    & #menu a{
        color: #000000;
    }
    & #menu a:hover{
        color: $orangehover;
    }
    & #menu li{
        padding-bottom: 15px;
    }
    & #menu .active{
        color: $orange
    }
    & #design a{
        color: #000000;
        padding-left: 10px;
    }
    & #design a:hover{
        color: $orangehover;
    }
}
.open{
    left: 0%;
}

.burgerline{
    transition: 0.5s;
}

.lineactive div:nth-child(1){
    transform: translateY(8px) rotate(45deg);
}

.lineactive div:nth-child(2){
    opacity: 0;
}

.lineactive div:nth-child(3){
    transform: translateY(0px) rotate(-45deg);
}

.burgerline{
    @media (max-width: 999px) {
        width: 18px;
        height: 2px;
        background: #FFFFFF;
        border-radius: 2px;
        margin: 2px 0;
        display: block;
    }
}

.container{
    width: 1160px;
    margin: 0 auto;
    @media (max-width: 1599px) {
          width: 940px;
      }
    @media (max-width: 999px) {
        width: 600px;
    }
    @media (max-width: 639px) {
        width: 300px;
    }
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 16px;
    color: $white;
    font-size: $fsize16;
    &__burger{
        display: none;
        @media (max-width: 999px) {
            display: block;
        }
        &:hover{
            cursor: pointer;
        }
    }
    @media (max-width: 999px) {
        padding-top: 0;
        justify-content: space-between;
    }
    &__nav{
        display: flex;
        nav{
            @media (max-width: 999px) {
                display: none;
            }
        }
        img{
            margin-right: 5px;
        }
        ul{
            display: flex;
            margin-left: 5px;
            @media (max-width: 1599px) {
                margin-left: 14px;
            }
            li{
                margin-left: 58px;
                @media (max-width: 1599px) {
                    margin-left: 49px;
                }
            }
        }
    }
    &__design{
        margin-top: -5px;
        @media (max-width: 1599px) {
            margin-left: 256px;
        }
        @media (max-width: 999px) {
            display: none;
        }
    }
    a{
        transition: .4s;
        &:hover{
            color: $orange;
            cursor: pointer;
        }
    }
    &__logo{
        width: 82px;
        height: 52px;
        background-image: url(assets/images/logo.png);
        @media (max-width: 999px) {
            width: 47px;
            height: 30px;
            background-image: url(assets/images/logomobile.png);
        }
      }
}


.active{
    color: $orange;
}


.favorite{
    background-image: url(assets/images/GiantPanda.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -80px;
    position: relative;
    overflow: hidden;
    @media (max-width: 1599px) {
        background-image: url(assets/images/GiantPanda2.jpg);
    }
    @media (max-width: 999px) {
        background-position-y: 0px;
        background-image: url(assets/images/GiantPanda2.jpg);
    }
    @media (max-width: 639px) {
        overflow: visible;
    }
    &__info{
        display: flex;
        justify-content: flex-end;
        padding-top: 86px;
        @media (max-width: 1599px) {
            padding-top: 43px;
        }
    .circle{
        position: absolute;
        width: 465px;
        height: 465px;
        left: calc(50% - 465px/2 + 239.5px);
        top: 10px;
        background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
        border-radius: 50%;
        @media (max-width: 1599px) {
            width: 367px;
            height: 367px;
            top: -13px;
            left: calc(50% - 465px/2 + 188.5px);
        }
        @media (max-width: 999px) {
            width: 237px;
            height: 237px;
            top: 43px;
            left: calc(50% - 465px/2 + 244.5px);
        }
        @media (max-width: 639px) {
            width: 120px;
            height: 120px;
            top: 56px;
            left: calc(50% - 465px/2 + 235.5px);
        }
    }
    }
    &__block{
        width: 500px;
        left: 170px;
        display: flex;
        flex-direction: column;
        align-items: center;
        @media (max-width: 999px) {
            width: 260px;
        }
        @media (max-width: 639px) {
            width: 129px;
        }
    }
    &__text{
        position: relative;
        font-size: 106px;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        line-height: 75%;
        color: $white;
        span{
            color: $yellow;
        }
        @media (max-width: 1599px) {
            font-size: 85px;
        }
        @media (max-width: 999px) {
            font-size: 54px;
            padding-top: 41px;
            padding-left: 10px;
        }
        @media (max-width: 639px) {
            font-size: 28px;
            padding-top: 33px;
            padding-left: 4px;
        }
    }
    &__button{
        margin-top: 62px;
        margin-bottom: 100px;
        @media (max-width: 1599px) {
            margin-top: 42px;
            margin-bottom: 46px;
            margin-left: -10px;
        }
        @media (max-width: 999px) {
            margin-top: -7px;
            margin-left: -640px;
            margin-bottom: 41px;
        }
        @media (max-width: 639px) {
            margin-top: 61px;
            margin-left: -172px;
            margin-bottom: -74px;
        }

    }
}

.buttonOne{
    height: 54px;
    width: 298px;
    color: $white;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    text-transform: uppercase;
    border-radius: 25px;
    transition: .4s;
    &:hover{
        background: linear-gradient(113.96deg, #F9804B 1.49%, #F9804B 101.44%);
        cursor: pointer;
    }
}

.buttonTwo{
    height: 54px;
    width: 298px;
    color: $white;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 5px;
    text-transform: uppercase;
    transition: .4s;
    &:hover{
        background: linear-gradient(113.96deg, #F9804B 1.49%, #F9804B 101.44%);
        cursor: pointer
    }
    @media (max-width: 999px) {
        width: 240px;
    }
}

.backstage{
    background-image: url(assets/images/flower_foto1.png);
    background-repeat: no-repeat;
    background-position: right;
    height: 605px;
    margin-top: 20px;
    color: $grey;
    @media (max-width: 1599px) {
        background-image: none;
    }
    @media (max-width: 999px) {
        margin-top: 0px;
        padding-top: 20px;
        height: 445px;
        background-image: url(assets/images/flower_foto2.png);
    }
    @media (max-width: 639px) {
        padding-top: 64px;
        background-image: url(assets/images/flower_foto3.png);
        background-position-y: 40px;
    }

    &__block{
        display: flex;
        justify-content: space-around;
        padding-top: 120px;
        @media (max-width: 1599px) {
            padding-top: 90px;
        }
        @media (max-width: 999px) {
            padding-top: 50px;
        }
    }
    &__info{
        text-align: left;
        padding-left: 85px;
        @media (max-width: 1599px) {
            padding-left: 31px;
            margin-top: -10px;
        }
        @media (max-width: 999px) {
            margin-left: -30px;
        }
        p{
            font-size: 16px;
            margin-bottom: 53px;
            font-weight: 400;
            line-height: 22px;
            @media (max-width: 999px) {
                width: 495px;
                margin-bottom: 27px;
            }
            @media (max-width: 639px) {
                width: 300px;
                margin-bottom: 20px;
            }
        }
        h2{
            font-weight: 400;
            font-size: 48px;
            margin-bottom: 21px;
            line-height: 58px;
            @media (max-width: 639px) {
                font-size: 24px;
                line-height: 30px;
                margin-bottom: 7px;
            }
        }
        h3{
            font-size: 24px;
            margin-bottom: 33px;
            font-weight: 400;
            @media (max-width: 999px) {
                padding-left: 2px;
                margin-bottom: 23px;
            }
            @media (max-width: 639px) {
                margin-bottom: 9px;
            }
        }
    }
    &__img{
        @media (max-width: 999px) {
            display: none;
        }
        img{
            @media (max-width: 1599px) {
                width: 455px;
                height: 408px;
                object-fit: cover
            }
        }
    }
}


.animal{
    margin-top: 80px;
    background-image: url(assets/images/palm_foto.png), url(assets/images/strelitzia.png);
    background-repeat: no-repeat;
    background-position: bottom left, bottom right;
    @media (max-width: 1599px) {
        background-size: auto, 241px 180px;
        background-image: url(assets/images/palm_foto2.png),url(assets/images/strelitzia.png);
        margin-top: 23px;
    }
    @media (max-width: 999px) {
        background-image: url(assets/images/palm_foto.png), url(assets/images/strelitzia.png);
        background-size: 137px 202px, 175px 131px;
    }
    @media (max-width: 639px) {
        background-image: url(assets/images/palm_foto3.png), url(assets/images/strelitzia2.png);
        background-size: 59px 75px, 66px 66px;
    }
    &__block{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    @media (max-width: 1599px) {
        .decstop{
            display: none;
        }
    }
    &__carusel{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__rightpoint, &__leftpoint{
        width: 62px;
        height: 62px;
        right: 0px;
        top: 0px;
        border-radius: 50%;
        background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
        transition: 0.4s;
        &:hover{
            background: linear-gradient($green);
        }
        
    }
    &__right{
        background-image: url(assets/icons/point__right.svg);
        background-repeat: no-repeat;
        margin-top: 25px;
        margin-left: 22px;
        width: 20px;
        height: 10px;
    }
    &__left{
        background-image: url(assets/icons/point__left.svg);
        background-repeat: no-repeat;
        margin-top: 25px;
        margin-left: 22px;
        width: 20px;
        height: 10px;
    }
    &__rowOne , &__rowTwo{
        display: flex;
        @media (max-width: 639px) {
            flex-direction: column;
        }
    }
    &__rowTwo{
        margin-top: -17px;
        @media (max-width: 1599px) {
            margin-top: 0px;
        }
    }
    &__photo{
        @media (max-width: 1599px) {
            width: 294px;
            height: 294px;
        }
        @media (max-width: 999px) {
            width: 285px;
            height: 285px;
        }
    }
    &__itemOne{
        border-radius: 5px;
        border: 1px solid $orange;
        margin: 20px 15px 20px 20px;
        @media (max-width: 1599px) {
            margin-bottom: 12px;
        }
        @media (max-width: 639px) {
            margin: 0px 15px 15px 0px;
        }

    }
    &__itemTwo{
        border-radius: 5px;
        border: 1px solid $orange;
        margin: 20px 17px 20px 15px;
        @media (max-width: 1599px) {
            margin-bottom: 12px;
        }
        @media (max-width: 999px) {
            margin-left: 11px;
        }
        @media (max-width: 639px) {
            margin: 0px 15px 15px 0px;
        }
    }
    &__itemThree{
        border-radius: 5px;
        border: 1px solid $orange;
        margin: 20px 19px 20px 10px;
        @media (max-width: 1599px) {
            margin-bottom: 12px;
        }
        @media (max-width: 999px) {
            display: none;
        }
    }
    &__grey{
        width: 366px;
        height: 366px;
        position: absolute;
        transition: 0.7s;
        @media (max-width: 1599px) {
            width: 295px;
            height: 295px;
        }
        @media (max-width: 999px) {
            width: 285px;
            height: 285px;
        }
    }
    &__itemOne:hover, &__itemTwo:hover, &__itemThree:hover{
        p{
            position: absolute;
            margin-top: -250px;
            color: $white;
        }
        h5{
            position: absolute;
            margin-top: -280px;
            color: $white;
        }
        .animal__grey{
            background-color: #333B41;
            opacity: 0.5;
        }

    }
    &__info{
        display: flex;
        justify-content: space-between;
    }
    &__button{
        margin-top: 62px;
        margin-bottom: 100px;
        @media (max-width: 1599px) {
            margin-top: 67px;
            margin-bottom: 140px;
        }
        @media (max-width: 999px) {
            margin-top: 46px;
            margin-bottom: 99px;
        }
        @media (max-width: 639px) {
            margin-top: 8px;
            margin-bottom: 61px;
        }
    }
    &__about{
        padding-left: 16px;
        @media (max-width: 999px) {
            padding-left: 11px;
        }
    }
    &__icon{
        padding-right: 13px;
        padding-top: 2px;
        @media (max-width: 999px) {
            scale: 0.8;
            padding-top: 0;
            margin-top: -3px;
            padding-right: 6px;
        }
    }
    h5{
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        text-transform: uppercase;
        transition: 0.7s;
        @media (max-width: 1599px) {
            padding-top: 4px;
        }
        @media (max-width: 999px) {
            font-size: 13px;
            padding-top: 1px;
        }
    }
    p{
        font-weight: 300;
        font-size: 15px;
        line-height: 120%;
        padding-bottom: 10px;
        transition: 0.7s;
        @media (max-width: 999px) {
            font-size: 12px;
        }
    }
    &__point{
        display: none;
        @media (max-width: 1599px) {
            display: flex;
            justify-content: center;
            .animal__leftpoint{
                margin-right: 83px;
            }
            .animal__rightpoint{
                margin-left: 83px;
            }
        }
        @media (max-width: 999px) {
            margin-top: -5px;
            .animal__leftpoint{
                margin-right: 15px;
            }
            .animal__rightpoint{
                margin-left: 15px;
            }
        }
        @media (max-width: 639px) {
            display: none;
        }
    }
}


.pick{
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    opacity: 0.9;
    padding-top: 70px;
    padding-bottom: 100px;
    @media (max-width: 1599px) {
        padding-top: 30px;
        padding-bottom: 50px;
    }
    @media (max-width: 999px) {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    &__block{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 40px;
        background: rgba(253, 253, 255, 0.52);
        backdrop-filter: blur(2px);
        border-radius: 20px;
        @media (max-width: 1599px) {
            padding-top: 30px;
        }
        @media (max-width: 999px) {
            padding-top: 12px;
            width: 640px;
            margin-left: -20px;
        }
        @media (max-width: 639px) {
            width: 300px;
            margin-left: 0px;
            padding-top: 20px;
        }
    }
    a{
        color: $black;
    }
    a:hover{
        color: $orangehover;
        transition: 0.3s;
    }
    &__text{
        padding-left: 40px;
        padding-top: 35px;
        @media (max-width: 1599px) {
            padding-top: 22px;
            padding-left: 6px;
            width: 850px;
        }
        @media (max-width: 999px) {
            padding-left: 2px;
            width: 600px;
        }
        @media (max-width: 639px) {
            width: 300px;
            padding-top: 13px;
            padding-left: 0px;
        }
        p{
            width: 870px;
            @media (max-width: 1599px) {
                width: 850px;
            }
            @media (max-width: 999px) {
                width: 600px;
            }
            @media (max-width: 639px) {
                display: none;
            }
        }
    }
    h3{
        text-align: center;
        font-weight: 400;
        font-size: 48px;
        color: $orange;
        @media (max-width: 999px) {
            font-size: 42px;
        }
        @media (max-width: 639px) {
            font-size: 24px;
        }
    }
    h5{

        font-weight: 400;
        font-size: 24px;
        line-height: 120%;
        color: $grey;
        @media (max-width: 999px) {
            font-size: 22px;
        }
        @media (max-width: 639px) {
            font-size: 18px;
            text-align: center;
        }
    }
    h6{
        padding-top: 40px;
        font-weight: 500;
        font-size: 16px;
        line-height: 130%;
        color: $grey;
        @media (max-width: 1599px) {
            padding-top: 20px;
            padding-left: 5px;
            width: 800px;
        }
        @media (max-width: 999px) {
            width: 600px;
            padding-left: 0;
            padding-top: 16px;
        }
        @media (max-width: 639px) {
            display: none;
        }
        
    }
    p{
        padding-top: 10px;
        font-weight: 400;
        font-size: 16px;
        line-height: 130%;
        
    }
    h4{
        padding-top: 60px;
        padding-left: 375px;
        font-weight: 400;
        font-size: 36px;
        line-height: 130%;
        @media (max-width: 1599px) {
            padding-top: 45px;
            padding-left: 318px;
        }
        @media (max-width: 999px) {
            padding-top: 32px;
            padding-left: 195px;
        }
        @media (max-width: 639px) {
            font-size: 24px;
            padding-left: 82px;
            padding-top: 17px;
        }
    }
    &__how{
        display: flex;
        padding-top: 40px;
        margin-left: -3px;
        @media (max-width: 999px) {
            padding-top: 20px;
        }
        @media (max-width: 639px) {
            flex-direction: column;
        }
    }
    &__step{
        width: 168px;
        padding: 0px 31px;
        p{
            margin-top: 19px;
            @media (max-width: 639px) {
                margin-top: 0px;
                margin-bottom: 35px;
            }
        }
        @media (max-width: 999px) {
            padding: 0 22px;
        }
    }

    &__icon{
        background-color: $white;
        width: 168px;
        height: 168px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid $orange;
        border-radius: 5px;
    }
    &__marker{
        width: 69px;
        height: 36px;
        background-image: url(assets/icons/Vector.svg);
        background-repeat: no-repeat;
        margin-top: 59px;
        @media (max-width: 999px) {
            background-image: url(assets/icons/arrow.svg);
            width: 90px;
            height: 31px;
            margin-top: -16px;
            position: absolute;
        }
        @media (max-width: 639px) {
            transform: rotate(85deg);
        }
    }
    &__button{
        margin-top: 62px;
        margin-bottom: 60px;
        text-transform: uppercase;
        @media (max-width: 1599px) {
            margin-top: 70px;
            margin-bottom: 50px;
        }
        @media (max-width: 999px) {
            margin-top: 43px;
            margin-bottom: 59px;
        }
        @media (max-width: 639px) {
            margin-top: 5px;
            margin-bottom: 40px;
        }
    }
}

.markerOne{
    @media (max-width: 999px) {
        margin-left: 160px;
    }
    @media (max-width: 639px) {
        margin-top: 190px;
    }
}

.markerTwo{
    @media (max-width: 999px) {
        margin-left: 365px;
    }
    @media (max-width: 639px) {
        margin-left: 160px;
        margin-top: 439px;
    }
}

.underline{
    padding-bottom: 2px;
    border-bottom: 1px $orange solid;
}


.testimonials{
    background-image: url(assets/images/leav_foto.png);
    background-repeat: no-repeat;
    background-position:  bottom right;
    background-position-y: 502px;
    @media (max-width: 1599px) {
        background-size: 200px;
    }
    @media (max-width: 999px) {
        background-size: 123px;
        background-position: right 535px;
       }
    @media (max-width: 639px) { 
        background-size: 60px;
        background-position: right 510px;
    }
    &__container{
       @media (max-width: 999px) {
        display: flex;
        flex-direction: column;
        align-items: center;
       }
    }
    &__block{
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 140px;
        width: 575px;
        @media (max-width: 1599px) {
            margin-top: 100px;
        }
        @media (max-width: 999px) {
            margin-top: 60px;
            justify-content: center;
            align-items: center;
        }
        @media (max-width: 639px) {
            width: 299px;
            margin-top: 30px;
        }
    }
    h2{
        font-size: 36px;
        line-height: 130%;
        @media (max-width: 639px) {
            font-size: 24px;
        }
    }
    &__gradient{
        position: absolute;
        height: 387px;
        z-index: -1;
        border-radius: 20px;
        width: 268px;
        background-color: $grey2;
        @media (max-width: 1599px) {
            width: 293px;
            height: 391px;
        }
        @media (max-width: 999px) {
            width: 600px;
            height: 109px;
        }
        @media (max-width: 639px) {
            width: 299px;
        }
    }
    &__peoples{
        display: flex;
        justify-content: flex-start;
        margin-top: 47px;
        @media (max-width: 1599px) {
            margin-top: 30px;
        }
        @media (max-width: 999px) {
            flex-direction: column;
        }
        @media (max-width: 639px) {
            margin-top: 16px;
            width: 300px;
        }
    }
    &__one, &__two, &__three, &__four{
        z-index: 3;
        position: relative;
        width: 268px;
        background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%),
        linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
        border-radius: 20px;
        padding: 2px;
        margin:  0px 15px 0px 14px;
        @media (max-width: 1599px) {
            width: 293px;
            height: 391px;
        }
        @media (max-width: 999px) {
            width: 600px;
            height: 109px;
            margin-bottom: 10px;
        }
        @media (max-width: 639px) {
            width: 299px;
            margin:  0px 0px 10px 0px;

        }
    }
    &__four{
        @media (max-width: 1599px) {
            display: none;
        }
    }
    &__head{
        display: flex;
        padding-top: 13px;
        padding-left: 17px;
        @media (max-width: 999px) {
            padding-top: 15px;
            padding-left: 12px;
        }
        @media (max-width: 639px) {
            padding-top: 11px;
        }
    }
    &__ava{
        padding-right: 10px;
    }
    h5{
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
    }
    p{
        font-weight: 300;
        font-size: 15px;
        line-height: 120%;
        color: #BDBDBD;
    }
    &__text{
        width: 237px;
        margin: 0 auto;
        padding-left: 3px;
        padding-top: 6px;
        padding-bottom: 21px;
        p{
            color: #767474;
        }
        @media (max-width: 1599px) {
            width: 260px;
        }
        
        @media (max-width: 999px) {
            width: 550px;
            height: 15px;
            overflow: hidden;
            padding-left: 0px;
        }
        @media (max-width: 639px) {
            width: 260px;
        }
    }
    &__linescrol{
        position: relative;
        margin-top: 22px;
        width: 599px;
        height: 6px;
        background: #F5F7F6;
        border-radius: 5px;
        @media (max-width: 1599px) {
            margin-left: -12px;
            margin-top: 19px;
            width: 390px;
        }
        @media (max-width: 999px) {
            display: none;
        }
    }
    &__pointgradient{
        position: absolute;
        width: 595px;
        top: 0px;
        z-index: -1;
        height: 2px;
        top: -1px;
        left: -1px;
        padding: 3px;
        border-radius: 20px;
        background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%),
        linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%),
        linear-gradient(0deg, #F5F7F6, #F5F7F6);
        @media (max-width: 1599px) {
            width: 386px;
        }
    }
    &__point{
        background: $orange;
        height: 6px;
        width: 115px;
        border-radius: 5px;
        @media (max-width: 1599px) {
            width: 75px;
        }
        
    }
    &__button{
        padding-top: 31px;
        padding-bottom: 180px;
        align-items: flex-start;
        @media (max-width: 1599px) {
            padding-top: 53px;
            padding-bottom: 140px;
        }
        @media (max-width: 999px) {
            padding-top: 28px;
            padding-bottom: 80px;
        }
        @media (max-width: 639px) {
            padding-top: 19px;
            padding-bottom: 60px;
        }
    }
}


footer{
    background-color: $black;
    color: $white;
    @media (max-width: 999px) {
        padding-bottom: 10px;
    }
    @media (max-width: 639px) {
        padding-bottom: 67px;
    }
}

.footer{
    display: flex;
    padding-bottom: 25px;
    padding-top: 42px;
    @media (max-width: 999px) {
        padding-top: 14px;
        padding-bottom: 0px;
    }
    .lfootd{
        display: block;
        @media (max-width: 639px) {
            display: none;
        }
    }
    .lfootm{
        display: none;
        @media (max-width: 639px) {
            display: block;
        }
    }
    &__social{
        display: flex;
        flex-direction: column;
        @media (max-width: 1599px) {
            padding-left: 13px;
        }
        @media (max-width: 999px) {
            padding-left: 0px;
            a{
                z-index: 3;
            }
        }
        @media (max-width: 639px) {
            align-items: center;
        }
    }
    &__button{
        margin-top: 68px;
        @media (max-width: 999px) {
            margin-top: 28px;
            width: 298px;
        }
        @media (max-width: 639px) {
            margin-top: 90px;
        }
    }
    &__socialcite{
        padding-top: 24px;
        @media (max-width: 999px) {
            position: absolute;
            margin-left: 575px;
            margin-top: -40px;
        }
        @media (max-width: 639px) {
            margin-left: -26px;
            margin-top: 20px;
            z-index: 5;
        }
        a{
            padding-bottom: 10px;
            display: flex;
            align-items: center;
            transition: 0.4s;
            @media (max-width: 999px) {
                padding-bottom: 20px;
            }
            @media (max-width: 639px) {
                padding-left: 30px;
            }
            span{
                padding-top: 5px;
                padding-left: 12px;
                @media (max-width: 999px) {
                    display: none;
                }
            }
        }
        a:hover{
            color: #4B9200;
            cursor: pointer;
            .footer__ellipse{
                background-color: #4B9200;
                cursor: pointer;
            }
        }
        ul{
            @media (max-width: 639px) {
                display: flex;
            }
        }
    }
    &__ellipse{
        width: 26px;
        height: 26px;
        border-radius: 50%;
        background: rgba(196, 196, 196, 0.5);
        transition: 0.4s;

    }
    
    

    &__nav{
        display: flex;
        padding-left: 43px;
        padding-top: 319px;
        @media (max-width: 1599px) {
            padding-left: 0px;
            margin-left: -60px;
            z-index: 2;
        }
        @media (max-width: 999px) {
            margin-left: -39px;
            padding-top: 224px;
            position: absolute;
        }
        @media (max-width: 639px) {
            padding-top: 263px;
            padding-left: 17px;
        }
        ul{
            display: flex;
        }
        a{
            padding-left: 58px;
            transition: .4s;
            @media (max-width: 1599px) {
                padding-left: 50px;
                white-space: nowrap;
            }
            @media (max-width: 999px) {
                padding-left: 38px;
            }
            @media (max-width: 639px) {
                padding-left: 30px;
            }
            &:hover{
                color: $orange;
            }
        }
    }
    &__form{
        @media (max-width: 999px) {
            display: none;
        }
    }
    &__feetback{
        padding-left: 32px;
        h5{
            font-weight: 400;
            font-size: 24px;
        }
        @media (max-width: 1599px) {
            padding-left: 0px;
            margin-left: -85px;
        }
    }
    &__inputtext{
        width: 214px;
        height: 38px;
        padding-left: 10px;
        margin-top: 16px;
        background-color: transparent;
        color: $white;
        border: 1px solid $orange;
    }
    &__inputbutton{
        width: 129px;
        height: 41px; 
        margin-left: 5px; 
        margin-top: 2px; 
        color:#4B9200;
        font-weight: 400;
        font-size: 16px;
        border: 1px solid #4B9200;
        border-radius: 5px;
        &:hover{
            background-color: #4B9200;
            color: $white;
            transition: 0.4s;
        }
    }
    &__design{
        padding-top: 206px;
        padding-left: 140px;
        font-weight: lighter;
        font-size: 16px;
        line-height: 200%;
        @media (max-width: 1599px) {
            padding-left: 170px;
            white-space: nowrap;
        }
        @media (max-width: 999px) {
            padding-left: 156px;
            padding-top: 200px;
        }
        @media (max-width: 639px) {
            position: relative;
            padding-left: 0px;
            margin-left: -127px;
            padding-top: 193px;
            font-size: 15px;
        }
    }
}

.facebook{
    background-image: url(assets/icons/fb.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.twitter{
    background-image: url(assets/icons/tw.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.instagram{
    background-image: url(assets/icons/inst.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.youtube{
    background-image: url(assets/icons/yt.svg);
    background-repeat: no-repeat;
    background-position: center;
}