@import url("../../assets/fonts/fonts.css");


$fsize16: 16px;

$black: #000000;
$white: #ffffff;
$orange: #F9804B;
$yellow: #FFEE2E;
$grey: #333B41;
$grey2: #F1F3F2;

$orangehover: #E47209;

body{
    font-family: 'Roboto';
    margin: 0 auto;
    @media (max-width: 999px) {
    }
}

header{
    height: 80px;
    background-color: $black;
    z-index: 5;
    @media (max-width: 999px) {
        width: 100vw;
        position: fixed;
        height: 34px;
    }
}


.header__popup{
    position: absolute;
    transition: 0.5s;
    top: 34px;
    height: 329px;
    width: 640px;
    background-color: #ffffff;
    z-index: 5;
    left: -100%;
    @media (max-width: 639px) {
        width: 320px;
        height: 329px;
    }
    & #menu{
        padding-left: 10px;
    }
    & #menu a{
        color: #000000;
    }
    & #menu a:hover{
        color: $orangehover;
    }
    & #menu li{
        padding-bottom: 15px;
    }
    & #menu .active{
        color: $orange
    }
    & #design a{
        color: #000000;
        padding-left: 10px;
    }
    & #design a:hover{
        color: $orangehover;
    }
}

.header__burger:hover {
    cursor: pointer;
  }
.open{
    left: 0%;
}

.burgerline{
    transition: 0.5s;
}

.lineactive div:nth-child(1){
    transform: translateY(8px) rotate(45deg);
}

.lineactive div:nth-child(2){
    opacity: 0;
}

.lineactive div:nth-child(3){
    transform: translateY(0px) rotate(-45deg);
}

.burgerline{
    @media (max-width: 999px) {
        width: 18px;
        height: 2px;
        background: #FFFFFF;
        border-radius: 2px;
        margin: 2px 0;
        display: block;
    }
}

.container{
    width: 1160px;
    margin: 0 auto;
    @media (max-width: 1599px) {
          width: 940px;
      }
    @media (max-width: 999px) {
        width: 600px;
    }
    @media (max-width: 639px) {
        width: 300px;
    }
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 16px;
    color: $white;
    font-size: $fsize16;
    background-color: $black;
    &__burger{
        display: none;
        @media (max-width: 999px) {
            display: block;
        }
    }
    @media (max-width: 999px) {
        padding-top: 0;
        justify-content: space-between;
    }
    &__nav{
        display: flex;
        nav{
            @media (max-width: 999px) {
                display: none;
            }
        }
        img{
            margin-right: 5px;
        }
        ul{
            display: flex;
            margin-left: 5px;
            @media (max-width: 1599px) {
                margin-left: 14px;
            }
            li{
                margin-left: 58px;
                @media (max-width: 1599px) {
                    margin-left: 49px;
                }
            }
        }
    }
    &__design{
        margin-top: -5px;
        @media (max-width: 1599px) {
            margin-left: 256px;
        }
        @media (max-width: 999px) {
            display: none;
        }
    }
    a{
        transition: .4s;
        &:hover{
            color: $orange;
            cursor: pointer;
        }
    }
    &__logo{
        width: 82px;
        height: 52px;
        background-image: url(../../assets/images/logo.png);
        @media (max-width: 999px) {
            width: 47px;
            height: 30px;
            background-image: url(../../assets/images/logomobile.png);
        }
      }
}



.active{
    color: $orange;
}

.image{
    height: 386px;
    background-image: url(../../assets/images/panda_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    @media (max-width: 1599px) {
        height: 390px;
    }
    @media (max-width: 999px) {
        height: 369px;
        background-position: -350px 30px;
    }
    @media (max-width: 639px) {
        height: 221px;
        background-position: -40px 30px;
    }
}

.donation{
    padding-top: 44px;
    padding-bottom: 180px;
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    @media (max-width: 1599px) {
        padding-bottom: 30px;
    }
    @media (max-width: 999px) {
        padding-top: 30px;
        padding-bottom: 46px;
        overflow: hidden;
    }
    @media (max-width: 639px) {
        padding-bottom: 21px;
    }
    &__info{
        h3{
            font-weight: 400;
            font-size: 36px;
            color: $white;
            @media (max-width: 1599px) {
                width: 780px;
            }
            @media (max-width: 999px) {
                font-size: 24px;
                width: 570px;
            }
            @media (max-width: 639px) {
                width: 300px;
            }
        }
        p{
            padding-top: 13px;
            font-weight: 500;
            font-size: 16px;
            line-height: 140%;
            color: $white;
            @media (max-width: 1599px) {
                padding-top: 37px;
            }
            @media (max-width: 999px) {
                padding-top: 22px;
            }
        }
        h4{
            padding-top: 43px;
            padding-bottom: 60px;
            font-weight: 400;
            font-size: 36px;
            line-height: 130%;
            color: #FE9013;
            @media (max-width: 1599px) {
                padding-bottom: 42px;
            }
            @media (max-width: 999px) {
                padding-top: 30px;
                padding-bottom: 30px;
            }
            @media (max-width: 639px) {
                font-size: 24px;
                padding-top: 25px;
            }
        }
    }
    &__pick{
        background: rgba(255, 255, 255, 0.52);
        padding-bottom: 63px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        @media (max-width: 1599px) {
            padding-bottom: 48px;
        }
        @media (max-width: 999px) {
            padding-bottom: 33px;
        }
        @media (max-width: 639px) {
            padding-bottom: 22px;
        }
    }
    &__header{
        text-align: center;
        padding-top: 43px;
        margin-left: -8px;
        @media (max-width: 1599px) {
            padding-top: 20px;
        }
        @media (max-width: 999px) {
            padding-top: 29px;
        }
        @media (max-width: 639px) {
            margin-left: 0px;
            padding-top: 22px;
        }
        h4{
            font-weight: 400;
            font-size: 48px;
            color: #FE9013;
            @media (max-width: 639px) {
                font-size: 24px;
            }
        }
        p{
            padding-top: 20px;
            margin-left: -125px;
            font-weight: 400;
            font-size: 24px;
            line-height: 120%;
            color: $grey;
            @media (max-width: 1599px) {
                margin-left: 4px;
                padding-top: 16px;
            }
            @media (max-width: 999px) {
                padding-top: 24px;
            }
            @media (max-width: 639px) {
                font-size: 16px;
                padding-top: 12px;
                padding-bottom: 4px;
            }
        }
    }
    &__panda{
        display: flex;
        margin-top: 60px;
        @media (max-width: 999px) {
            margin-top: 48px;
        }
        @media (max-width: 639px) {
            margin-top: -44px;
        }
    }
    .pandad{
        @media (max-width: 639px) {
            scale: 0.57;
        }
    }
    &__number{
        padding-top: 94px;
        margin-left: -13px;
        text-align: center;
        @media (max-width: 639px) {
            padding-top: 105px;
        }
        h6{
            font-weight: 500;
            font-size: 72px;
            @media (max-width: 639px) {
                font-size: 40px;
                margin-left: 71px;
            }
        }
        p{
            font-size: 16px;
            @media (max-width: 639px) {
                font-size: 9px;
                white-space: nowrap;
                padding-left: 73px;
            }
        }
    }
    &__x{
        margin-top: 130px;
        margin-left: 14px;
        width: 14px;
        height: 14px;
        background-image: url(../../assets/icons/x_icon.svg);
        background-repeat: no-repeat;
        @media (max-width: 639px) {
            margin-top: 123px;
            margin-left: 7px;
            width: 39px;
        }
    }
    &__img{
        padding-left: 63px;
        @media (max-width: 639px) {
            padding-left: 0px;
            margin-left: -59px;
        }
    }
    &__amount{
        padding-top: 46px;
        @media (max-width: 999px) {
            padding-top: 33px;
        }
        @media (max-width: 639px) {
            padding-top: 0px;
            margin-top: -58px;
        }
        p{
            padding-left: 4px;
            @media (max-width: 639px) {
            padding-left: 0px;
            padding-top: 5px;
            }
        }
    }
    &__twoline{
        margin-left: 27px;
        margin-top: 11px;
        position: absolute;
        width: 915px;
        height: 2px;
        background: #72828E;
        @media (max-width: 1599px) {
            margin-left: 17px;
            margin-top: 12px;
            width: 776px;
        }
        @media (max-width: 999px) {
            width: 516px;
            margin-left: 43px;
        }
        @media (max-width: 639px) {
            width: 260px;
            margin-left: 20px;
            margin-top: 6px;
        }
    }
    &__line{
        display: flex;
        margin-top: 19px;
        width: 976px;
        height: 27px;
        background: #404950;
        border-radius: 2px;
        @media (max-width: 1599px) {
            width: 810px;
            margin-top: 15px;
        }
        @media (max-width: 999px) {
            width: 600px;
        }
        @media (max-width: 639px) {
            width: 300px;
            height: 13px;
            margin-top: 10px;
        }
        label{   
            position: absolute;
            margin-top: 39px;
            margin-left: -6px;
            display: flex;
            font-weight: 500;
            font-size: 26px;
            line-height: 140%;
            text-transform: uppercase;
            color: #333B41;
            @media (max-width: 639px) {
                font-size: 13px;
                margin-top: 20px;
            }
        }
        
        input[type='radio']::before {
            content: '';
            position: absolute;
            margin-top: 12px;
            margin-left: 30px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            transform: translate(-50%, -50%);
            background-color: #FFEE2E;
            @media (max-width: 1599px) {
                margin-left: -114px
            }
            @media (max-width: 999px) {
                margin-left: -90px;
            }
            @media (max-width: 639px) {
                width: 5px;
                height: 5px;
                margin-top: 7px;
                margin-left: -45px;
            }
        }

        input[type='radio']:checked::after {
            content: '';
            position: absolute;
            margin-left: 30px;
            margin-top: 12px;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background: url(../../assets/icons/after__icon.svg);
            transform: translate(-50%, -50%);
            visibility: visible;
            @media (max-width: 1599px) {
                margin-left: -114px
            }
            @media (max-width: 999px) {
                margin-left: -90px;
            }
            @media (max-width: 639px) {
                background: url(../../assets/icons/roller_icon.svg);
                width: 20px;
                height: 20px;
                margin-top: 7px;
                margin-left: -45px;
            }
        }


        input[type='radio']:hover+label{
            color: $orangehover;
        }
        

        .one{
            margin-left: -2px;
            @media (max-width: 1599px) {
                display: none;
            }
        }
        .radioOne{
            @media (max-width: 1599px) {
                display: none;
            }
        }
        .two{
            margin-left: 129px;
            @media (max-width: 1599px) {
                margin-left: 0px;
            }
            @media (max-width: 999px) {
                display: none;
            }
        }
        .radioTwo{
            @media (max-width: 999px) {
                display: none;
            }
        }
        .three{
            margin-left: 256px;
            @media (max-width: 1599px) {
                margin-left: 126px;
            }
            @media (max-width: 999px) {
                display: none;
            }
        }
        .radioThree{
            @media (max-width: 999px) {
                display: none;
            }
        }
        .four{
            margin-left: 387px;
            @media (max-width: 1599px) {
                margin-left: 256px;
            }
            @media (max-width: 999px) {
                margin-left: 15px;
            }
            @media (max-width: 639px) {
                margin-left: 7px;
            }
        }
        .five{
            margin-left: 517px;
            @media (max-width: 1599px) {
                margin-left: 388px;
            }
            @media (max-width: 999px) {
                margin-left: 144px;
            }
            @media (max-width: 639px) {
                margin-left: 73px;
            }
        }
        .six{
            margin-left: 646px;
            @media (max-width: 1599px) {
                margin-left: 517px;
            }
            @media (max-width: 999px) {
                margin-left: 274px;
            }
            @media (max-width: 639px) {
                margin-left: 137px;
            }
        }
        .seven{
            margin-left: 776px;
            @media (max-width: 1599px) {
                margin-left: 647px;
            }
            @media (max-width: 999px) {
                margin-left: 404px;
            }
            @media (max-width: 639px) {
                margin-left: 202px;
            }
        }
        .eight{
            margin-left: 907px;
            @media (max-width: 1599px) {
                margin-left: 776px;
            }
            @media (max-width: 999px) {
                margin-left: 535px;
            }
            @media (max-width: 639px) {
                margin-left: 267px;
            }
        }
    }
    &__form{
        margin-top: 98px;
        p{
            @media (max-width: 639px) {
                white-space: nowrap;
            }
        }
        form{
            display: flex;
            flex-direction: column;
        }
        input[type='radio']::before {
            content: '';
            position: absolute;
            margin-left: 51px;
            margin-top: 35px;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            transform: translate(-50%, -50%);
            background-color: transparent;
            border: 1px solid;
            border-color: $orangehover;
            @media (max-width: 999px) {
                margin-top: 40px;
            }
            @media (max-width: 639px) {
                margin-top: 36px;
            }
        }
        input[type='radio']:checked::after{
            content: '';
            position: absolute;
            width: 10px;
            height: 10px;
            margin-top: 35px;
            margin-left: 51px;
            background-color: $orangehover;
            border-radius: 50%;
            transform: translate(-50%, -50%);
            visibility: visible;
            @media (max-width: 999px) {
                margin-top: 40px;
            }
            @media (max-width: 639px) {
                margin-top: 36px;
            }
        }
        .sonce{
            display: inline-block;
            padding-top: 27px;
            padding-left: 69px;
            @media (max-width: 999px) {
                padding-top: 33px;
            }
            @media (max-width: 639px) {
                padding-top: 30px;
            }
        }
        .smonthly{
            display: inline-block;
            padding-top: 27px;
            padding-left: 68px;
            @media (max-width: 999px) {
                padding-top: 33px;
            }
            @media (max-width: 639px) {
                margin-top: -5px;
            }
        }
        .once{
            padding-left: 9px;
        }
    }
    &__dollar{
        position: absolute;
        width: 10px;
        height: 20px;
        background-image: url(../../assets/icons/dollar.svg);
        margin-left: 262px;
        margin-top: 17px;
        @media (max-width: 999px) {
            margin-left: 221px;
            margin-top: 10px;
        }
        @media (max-width: 639px) {
            margin-top: -37px;
        }
    }
    &__radio{
        display: flex;
    }
    &__inputnum{
        padding-left: 13px;
        @media (max-width: 999px) {
            padding-left: 60px;
        }
        @media (max-width: 639px) {
            margin-top: -50px;
        }
    }
    &__num{
        height: 47px;
        width: 261px;
        background-color: transparent;
        border-color: #929699;
        border-radius: 1px;
        @media (max-width: 999px) {
            height: 37px;
            width: 172px;
        }
    }
    &__button{
        margin-top: 32px;
        margin-bottom: 32px;
        @media (max-width: 999px) {
            margin-top: 29px;
        }
        @media (max-width: 639px) {
            margin-top: 26px;
        }
    }
    &__radio{
        display: flex;
        align-items: flex-start;
    }
}



.radio{
    margin-left: 130px;
    @media (max-width: 639px) {
        margin-left:65px;
    }
}
.radioOne{
    margin-left: 0px;
}
input[type='radio'],
label {
  cursor: pointer;
}

input[type='radio'] {
  position: relative;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}


.buttonOne{
    height: 54px;
    width: 298px;
    color: $white;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    transition: .4s;
    text-transform: uppercase;
    border-radius: 25px;
    border: none;
    &:hover{
        background: linear-gradient(113.96deg, #E47209.49%, #E47209 101.44%);
        cursor: pointer;
    }
}


footer{
    background-color: $black;
    color: $white;
    @media (max-width: 999px) {
        padding-bottom: 10px;
    }
    @media (max-width: 639px) {
        padding-bottom: 67px;
    }
}

.footer{
    display: flex;
    padding-bottom: 25px;
    padding-top: 42px;
    @media (max-width: 999px) {
        padding-top: 14px;
        padding-bottom: 0px;
    }
    .lfootd{
        display: block;
        @media (max-width: 639px) {
            display: none;
        }
    }
    .lfootm{
        display: none;
        @media (max-width: 639px) {
            display: block;
        }
    }
    &__social{
        display: flex;
        flex-direction: column;
        @media (max-width: 999px) {
            padding-left: 0px;
            a{
                z-index: 3;
            }
        }
        @media (max-width: 639px) {
            align-items: center;
        }
    }
    &__button{
        margin-top: 68px;
        @media (max-width: 999px) {
            margin-top: 28px;
            width: 298px;
        }
        @media (max-width: 639px) {
            margin-top: 90px;
        }
    }
    &__socialcite{
        padding-top: 24px;
        @media (max-width: 999px) {
            position: absolute;
            margin-left: 575px;
            margin-top: -40px;
        }
        @media (max-width: 639px) {
            margin-left: -26px;
            margin-top: 20px;
            z-index: 5;
        }
        a{
            padding-bottom: 10px;
            display: flex;
            align-items: center;
            transition: 0.4s;
            @media (max-width: 999px) {
                padding-bottom: 20px;
            }
            @media (max-width: 639px) {
                padding-left: 30px;
            }
            span{
                padding-top: 5px;
                padding-left: 12px;
                @media (max-width: 999px) {
                    display: none;
                }
            }
        }
        a:hover{
            color: #4B9200;
            cursor: pointer;
            .footer__ellipse{
                background-color: #4B9200;
                cursor: pointer;
            }
        }
        ul{
            @media (max-width: 639px) {
                display: flex;
            }
        }
    }
    &__ellipse{
        width: 26px;
        height: 26px;
        border-radius: 50%;
        background: rgba(196, 196, 196, 0.5);
        transition: 0.4s;

    }
    
    

    &__nav{
        display: flex;
        padding-left: 43px;
        padding-top: 319px;
        @media (max-width: 1599px) {
            padding-left: 0px;
            margin-left: -49px;
            z-index: 2;
        }
        @media (max-width: 999px) {
            margin-left: -39px;
            padding-top: 224px;
            position: absolute;
        }
        @media (max-width: 639px) {
            padding-top: 263px;
            padding-left: 17px;
        }
        ul{
            display: flex;
        }
        a{
            padding-left: 58px;
            transition: .4s;
            @media (max-width: 1599px) {
                padding-left: 50px;
                white-space: nowrap;
            }
            @media (max-width: 999px) {
                padding-left: 38px;
            }
            @media (max-width: 639px) {
                padding-left: 30px;
            }
            &:hover{
                color: $orange;
            }
        }
    }
    &__form{
        @media (max-width: 1599px) {
            margin-left: -8px;
        }
        @media (max-width: 999px) {
            display: none;
        }
    }
    &__feetback{
        padding-left: 32px;
        h5{
            font-weight: 400;
            font-size: 24px;
        }
        @media (max-width: 1599px) {
            padding-left: 0px;
            margin-left: -85px;
        }
    }
    &__inputtext{
        width: 214px;
        height: 38px;
        padding-left: 10px;
        margin-top: 16px;
        background-color: transparent;
        color: $white;
        border: 1px solid $orange;
    }
    &__inputbutton{
        width: 129px;
        height: 41px; 
        margin-left: 5px; 
        margin-top: 2px; 
        color:$black;
        font-weight: 400;
        font-size: 16px;
        border: 1px solid $black;
        border-radius: 5px;
        transition: 0.4s;
        &:hover{
            background-color: #4B9200;
            color: $white;
            cursor: pointer;
        }
    }
    &__design{
        padding-top: 206px;
        padding-left: 140px;
        font-weight: lighter;
        font-size: 16px;
        line-height: 200%;
        @media (max-width: 1599px) {
            padding-left: 160px;
            white-space: nowrap;
        }
        @media (max-width: 999px) {
            padding-left: 156px;
            padding-top: 200px;
        }
        @media (max-width: 639px) {
            position: relative;
            padding-left: 0px;
            margin-left: -127px;
            padding-top: 193px;
            font-size: 15px;
        }
    }
}

.facebook{
    background-image: url(../../assets/icons/fb.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.twitter{
    background-image: url(../../assets/icons/tw.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.instagram{
    background-image: url(../../assets/icons/inst.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.youtube{
    background-image: url(../../assets/icons/yt.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.buttonTwo{
    height: 54px;
    width: 298px;
    color: $white;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 5px;
    text-transform: uppercase;
    &:hover{
        background: $orangehover;
    }
}